#why-jg {
  // margin-top: -20rem;
  position: relative;
  padding: 10rem 2rem 25rem;
  width: 100%;
  // z-index: 2;
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1),
    rgba(11,48,66,.9)),
    url(../img/why4.png);
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  // box-shadow: 0px 0px 31px 12px rgba(0,0,0,0.5);
  overflow: hidden;
  
}

// BG VIDEO
// .bg-video {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   z-index: -2;


//   &__content {
//       height: 100%;
//       width: 100%;
//       object-fit: cover;
//   }
// }

// .vid-overlay {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
    // z-index: 1;
    // background-color: rgba(11,48,66,.95);
    // background-image: linear-gradient(
    //   to bottom,
    //   rgba(0,0,0,.1),
    //   rgba(11,48,66,.9));
    //   background-size: cover;
      // background-position: top top;
// }

// HEADER / TITLE
.why-jg__header {
  // padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  // animation: fadeIn 1.2s 500ms ease 1 forwards ;

  &-title {
    margin-right: 15rem;
    font-size: 4rem;


    @media only screen and (max-width: $bp-med) {
      margin-right: 0;
    }

    &-line {
      height: 2px;
      width: 9rem;
      background-color: $white-1;
      margin-top: -1.9rem;
      transform: translateX(-2.5rem);
      transition: all .3s;
    }

    .why-jg__header-title:hover &-line {
      transform: translateX(.03rem);
      transition: all .3s;
    }
  }

  @media only screen and (max-width: $bp-med) {
    justify-content: center;

  }
}


// Container for 4 info boxes
.why-jg__container {
  padding-top: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 1.6rem;
  transition: all .5s;

  @media only screen and (max-width: $bp-sm) {
    flex-direction: column;
  }

  // Info box containers
  .img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-med) {
      padding-bottom: 13rem;
      margin-right: 0;
      align-self: center;

    }

    &-4 {
      @media only screen and (max-width: $bp-med) {
        margin-right: 5rem;
      }

      @media only screen and (max-width: $bp-sm) {
        margin-right: 0rem;
      }
    }

    &-title {
      text-transform: uppercase;
      color: $color-primary-dark;
      font-size: 1.6rem;
      margin-bottom: 1.3rem;
      font-family: 'Orbitron', sans-serif;

    }

    &-img {
        padding: 0;
        align-self: center;
        margin-top: -7.5rem;
        margin-bottom: 3rem;
        width: 17rem;
        height: 16.5rem;
        transition: all .5s;
        // position: relative;

        &-al {
          padding-top: 0;
          margin-top: -12.5rem;
          margin-left: -4rem;
          height: 4rem;
          width: 4rem;
          position: absolute;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
          transform: rotate(-45deg);
          transition: all .4s;

          &-2 {
            margin-top: -12.5rem;
          }

          &-3 {
            margin-top: -14.5rem;
          }

          &-4 {
            margin-top: -13.7rem;
          }

        }

        &-ar {
          padding-top: 0;
          margin-top: -12.5rem;
          margin-left: 4rem;
          height: 4rem;
          width: 4rem;
          position: absolute;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(-45deg);
          transition: all .4s;
          

          &-2 {
            margin-top: -12.5rem;
          }

          &-3 {
            margin-top: -14.5rem;
          }

          &-4 {
            margin-top: -13.7rem;
          }

        }

    }

    &:not(:last-child) {
      margin-right: 2rem;

      @media only screen and (max-width: $bp-med) {
        margin-right: 5rem;
      }

      @media only screen and (max-width: $bp-sm) {
        margin-right: 0rem;
      }
    }
  }


  &-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 25rem;
    padding: 1.5rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    border-radius: 3px;
    transition: all .5s;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;


    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      top: 0;
      left: 0;
      border-top: .5px solid #fff;
      border-left: .5px solid #fff;
      opacity: 0;
      transition: all .3s;
      box-sizing: border-box;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      bottom: 0;
      right: 0;
      border-bottom: .5px solid #fff;
      border-right: .5px solid #fff;
      opacity: 0;
      transition: all .3s;
      box-sizing: border-box;
    }

    &:hover::before {
      width: 30%;
      height: 30%;
      opacity: 1;
    }

    &:hover::after {
      width: 30%;
      height: 30%;
      opacity: 1;
    }

    &:hover &-text {
      transform: scale(1);
    }

    &:hover .img-box-img {
      transform: scale(1.1);
    }


    &-text {
      font-family: $font;
      font-weight: 100;
      font-size: 1.6rem;
      letter-spacing: 1.1px;
      line-height: 2rem;
      transform: scale(.9);
      transition: all .5s;
      transition-delay: .4s;

    }

  }


  // MEDIA QUERIES
  // @media only screen and (max-width: $bp-lrg) {
  //   #why-jg {
  //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  //     clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  //   }

  //   .why-jg__container {
  //     flex-wrap: wrap;

  //     // &-box {
  //     //   width: ;
  //     // }
  //   }
  // }
}

.info__container {
  margin-bottom: 5rem;
  margin-top: 12rem;
  width: 100%;
  text-align: left;
  font-family: $font;
  font-weight: 100;
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media only screen and (max-width: $bp-med) {
    margin-top: 0;
  }
  

  &-text {
    // margin-left: 25rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
    border-left: 2px solid $color-primary;
    background-color: rgba($color-primary,.08);
    align-self: flex-start;
    width: 55%;
    padding: 4rem 2rem;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 0 100%);

    @media only screen and (max-width: $bp-xlrg) {
      width: 85%;
    }

    @media only screen and (max-width: $bp-med) {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-sm) {
      width: 100%;
      -webkit-clip-path: polygon(0 0, 85% 0, 100% 10%, 100% 90%, 85% 100%, 0 100%);
      clip-path: polygon(0 0, 85% 0, 100% 10%, 100% 90%, 85% 100%, 0 100%);
    }

    .services-offered {
      padding-top: 2rem;
    }
  }

  &-text-1 {
    margin-right: 30rem;
    border-right: 2px solid $color-primary;
    background-color: rgba($color-primary,.08);
    align-self: flex-end;
    width: 25%;
    padding: 4rem 2rem;
    -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 85%, 0 15%);
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 85%, 0 15%);

    @media only screen and (max-width: $bp-xlrg) {
      align-self: center;
    }

    &p {
      padding-top: 2rem;

    }
  }

  &-intro {
    color: $color-primary-dark;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    display: inline;
    padding-right: .2rem;


  }

}

